@media (width <=1080px) {
  .studentDetails-mainHeading,
  .studentDetails {
    width: 100%;
  }

  .modalContent {
    width: 80%;
    height: fit-content;
  }
}

@media (width <=1000px) {
  .show > .sideBar-container {
    width: 450px;
  }

  .hero-header > .angle {
    display: flex;
  }
}

@media (width <=980px) {
  .dashBoard-item {
    flex: 1 1 30%;
  }

  .studentDetails {
    padding: 1rem;
  }
}

@media (width <=940px) {
  .categoryHeading {
    gap: 1rem;
    padding: 1rem 0;
    font-size: 1.7rem;
    border: 1px solid rgba(0, 0, 0, 0.3);
  }
}
@media (width <=800px) {
  .sideBar-container {
    width: 0%;
  }

  .show > .sideBar-container {
    width: 450px;
  }

  .hero-container {
    padding-left: 0px;
  }

  .studentDetails {
    height: 90vh;
  }
  .categoryDetailsContainer {
    left: 5%;
    top: 18%;
  }

  .row {
    grid-template-columns: 1fr;
  }

  .label {
    font-size: 1.4rem;
  }
  .value {
    width: fit-content%;
    font-size: 1.6rem;
  }

  .modalContentBody {
    height: 700px;
  }
}

@media (width <=740px) {
  .dashBoard-item {
    flex: 1 1 40%;
  }

  .categoryHeading,
  .categoryHeading > i {
    font-size: 1.6rem;
  }
}

@media (width <=640px) {
  .categoryHeading > i {
    font-size: 1.6rem;
    display: none;
  }
}

@media (width <=615px) {
  label,
  .addTodos {
    display: inline-block;
    font-size: 1.7rem;
    font-weight: 500;
    margin-top: 0.5rem;
  }

  .addTodos {
    padding: 0.5rem;
  }

  .modalContent > i {
    font-size: 2rem;
    right: 1%;
    top: 1%;
  }

  .modalContent > .modalContentBody :is(input, textarea, select) {
    font-size: 1.6rem;
    padding: 1rem;
  }

  .modalContent,
  .modalHeading {
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
  }

  .modalContent {
    padding: 2rem;
  }

  .modalContentBody {
    padding: 0 1rem;
    height: 560px;
  }

  .modalHeading {
    font-size: 2rem;
    padding: 1rem 0%;
  }

  .row {
    gap: 0;
  }

  label,
  .addTodos {
    display: inline-block;
    font-size: 1.7rem;
    font-weight: 500;
    margin-top: 0.5rem;
  }

  .addTodos {
    padding: 0.5rem;
  }

  .modalContent > i {
    font-size: 2rem;
    right: 1%;
    top: 1%;
  }
}

@media (width <=600px) {
  /*?=== SARI NAVIGATION HEADINGS KA PARENT DIV ===*/
  .categoryHeadingsContainer {
    gap: 0rem;
    flex-wrap: wrap;
  }

  /*?=== SARI NAVIGATION WALI HEDINGS ===*/
  .categoryHeading {
    flex: 1 1 40%;
    gap: 0rem;
    border-top-left-radius: 0rem;
    font-size: 1.3rem;
    border-top-right-radius: 0rem;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
}

@media (width <= 565px) {
  .header {
    padding: 0rem 1rem;
  }

  :is(.logInBtns, .logOutBtns) > a {
    padding: 10px 15px;
  }

  .grid-two-cols {
    grid-template-columns: 1fr;
  }
  .formBtns > a {
    font-size: 1.6rem;
    font-weight: bold;
    padding: 10px;
  }
  .logo {
    font-size: 1.8rem;
  }

  .signUpContainer,
  .logInContainer {
    width: 95%;
  }

  .modalContent {
    height: fit-content;
    padding-bottom: 1rem;
  }

  .grid-two-cols {
    grid-template-columns: 1fr;
  }

  /*!=============== SWEAT ALERT STYLING ===============*/

  .sweatPopup {
    width: 90%;
  }
  .sweatTitle {
    font-size: 2.5rem !important;
  }
  .sweatPara {
    font-size: 1.6rem !important;
  }
  .sweatBtn {
    font-size: 1.3rem !important;
  }
}

@media (width <=502px) {
  .dashBoard-item {
    flex: 1 1 50%;
  }
}

@media (width <=465px) {
  .show > .sideBar-container {
    width: 100%;
  }
}
