@media (width <=1080px) {
  .studentDetails-mainHeading,
  .studentDetails {
    width: 100%;
  }
}

@media (width <=1000px) {
  .show > .sideBar-container {
    width: 450px;
  }

  .hero-header > .angle {
    display: flex;
  }
}

@media (width <=980px) {
  .dashBoard-item {
    flex: 1 1 30%;
  }

  .studentDetails {
    padding: 3rem 1rem;
  }
}

@media (width <=940px) {
  .categoryHeading {
    gap: 1rem;
    padding: 1rem 0;
    font-size: 1.7rem;
    border: 1px solid rgba(0, 0, 0, 0.3);
  }
}
@media (width <=800px) {
  .sideBar-container {
    width: 0%;
  }

  .show > .sideBar-container {
    width: 450px;
  }

  .hero-container {
    padding-left: 0px;
  }

  .row {
    grid-template-columns: 1fr;
  }
}

@media (width <=740px) {
  .dashBoard-item {
    flex: 1 1 40%;
  }

  .categoryHeading,
  .categoryHeading > i {
    font-size: 1.6rem;
  }
}

@media (width <=640px) {
  .categoryHeading > i {
    font-size: 1.6rem;
    display: none;
  }
}

@media (width <=615px) {
  .row {
    gap: 0;
  }

  label,
  .addTodos {
    display: inline-block;
    font-size: 1.7rem;
    font-weight: 500;
    margin-top: 0.5rem;
  }

  .addTodos {
    padding: 0.5rem;
  }

  .modalContent > i {
    font-size: 2rem;
    right: 1%;
    top: 1%;
  }
}

@media (width <=590px){
  .categoryHeading  {
    font-size: 1.3rem;
  }
}

@media (width <= 565px) {
  .header {
    padding: 0rem 1rem;
  }

  :is(.logInBtns, .logOutBtns) > a {
    padding: 10px 15px;
  }

  .grid-two-cols {
    grid-template-columns: 1fr;
  }
  .formBtns > a {
    font-size: 1.6rem;
    font-weight: bold;
    padding: 10px;
  }
  .logo {
    font-size: 1.8rem;
  }

  .signUpContainer,
  .logInContainer {
    width: 95%;
  }

  /*!=============== SWEAT ALERT STYLING ===============*/

  .sweatPopup {
    width: 90%;
  }
  .sweatTitle {
    font-size: 2.5rem !important;
  }
  .sweatPara {
    font-size: 1.6rem !important;
  }
  .sweatBtn {
    font-size: 1.3rem !important;
  }
}

@media (width <=502px) {
  .dashBoard-item {
    flex: 1 1 50%;
  }
}

@media (width <=465px) {
  .show > .sideBar-container {
    width: 100%;
  }
}
