/*!========== common use css ==========*/
@font-face {
  font-family: "jost";
  src: url(./Jost-Regular.ttf);
}

@font-face {
  font-family: "poppins";
  src: url(./Poppins-Regular.ttf);
}
.poppins {
  font-family: "poppins", sans-serif;
}

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  text-decoration: none !important;
  list-style: none;
  scroll-behavior: smooth;
  font-family: "jost";
  text-transform: capitalize;
}
.black {
  color: black;
}

.white {
  color: white !important;
}

html {
  font-size: 62.5%;
}

.main-container,
.header {
  max-width: 1440px;
}

.main-container {
  margin-top: 7rem;
  height: 100%;
}

.vh {
  height: 100vh;
}
.per {
  height: 100%;
}
.section {
  padding: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
.formSignUpBtn,
.formLogInBtn {
  font-family: "poppins", sans-serif;
}

/*!========== website theme ==========*/

:root {
  --mainColor1: rgb(55, 32, 81);
  --mainColor2: rgb(210, 149, 232);
  --mainColor3: rgb(68, 46, 107);
  --bg-gradient: linear-gradient(150deg, var(--mainColor1), var(--mainColor2));
  --bg-gradient2: linear-gradient(to bottom, rgb(86, 63, 114), rgb(45, 23, 71));
  --btn-bg: rgb(207, 159, 241);
  --black: #000;
  --white: #fff;
  --hover: rgb(95, 64, 150);
  --red-hover: #d33;
}

/*!========== ReuseAble Code ==========*/

/*todo===== all flex properties =====*/

.d-flex {
  display: flex;
}

.f-wrap {
  flex-wrap: wrap;
}

/*?=== justify content properties ===*/

.jc-center {
  justify-content: center;
}
.jc-start {
  justify-content: start;
}
.jc-end {
  justify-content: end;
}
.jc-between {
  justify-content: space-between;
}
.jc-evenly {
  justify-content: space-evenly;
}
.jc-around {
  justify-content: space-around;
}

/*?=== aling items properties ===*/

.al-center {
  align-items: center;
}
.al-start {
  align-items: start;
}
.al-end {
  align-items: end;
}

/*?=== flex directions properties ===*/

.dir-col {
  flex-direction: column;
}
.dir-col-reverse {
  flex-direction: column-reverse;
}

/*todo===== all grid properties =====*/

.grid {
  display: grid;
  gap: 1rem;
}

/*?=== template columns properties ===*/

.grid-two-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid-three-cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid-four-cols {
  grid-template-columns: repeat(4, 1fr);
}

/*?=== justify items properties ===*/

.ji-center {
  justify-items: center;
}
.ji-start {
  justify-items: start;
}
.ji-end {
  justify-items: end;
}

/*todo===== all txt properties =====*/

.txt-up {
  text-transform: uppercase;
}
.txt-cap {
  text-transform: capitalize;
}
.txt-center {
  text-align: center;
}

.txt-none {
  text-transform: none;
}
.bold {
  font-weight: bold;
}

/*todo===== all position properties =====*/

.p-relative {
  position: relative;
}
.p-absolute {
  content: "";
  position: absolute;
}
.p-fixed {
  position: fixed;
}

/*todo===== all other properties =====*/

.d-none {
  display: none;
}

.opacity0 {
  opacity: 0;
  visibility: hidden;
}

.d-inline-block {
  display: inline-block;
}
.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}
.m-auto {
  margin: auto;
}
.pointer {
  cursor: pointer;
}
.border-none {
  border: none;
}
.radius-50per {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.transition-3ms {
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}

.transition-1ms {
  transition: all 0.1s linear;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
}
.btn {
  border: none;
  outline: none;
}

/*!========== drop up css ==========*/
.drop-up {
  bottom: 3%;
  right: 4%;
}
.drop-up a i {
  font-size: 2.5rem;
  width: 5rem;
  height: 5rem;
  background: var(--bg-gradient);
  color: var(--white);
  animation-name: border-animation;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 2.5s;
}
@keyframes border-animation {
  0%,
  100% {
    border-radius: 76% 24% 58% 42%/17% 76% 24% 83%;
    -webkit-border-radius: 76% 24% 58% 42%/17% 76% 24% 83%;
    -moz-border-radius: 76% 24% 58% 42%/17% 76% 24% 83%;
    -ms-border-radius: 76% 24% 58% 42%/17% 76% 24% 83%;
    -o-border-radius: 76% 24% 58% 42%/17% 76% 24% 83%;
  }
  50% {
    border-radius: 30%70%70%30%/30%30%70%70%;
    -webkit-border-radius: 30%70%70%30%/30%30%70%70%;
    -moz-border-radius: 30%70%70%30%/30%30%70%70%;
    -ms-border-radius: 30%70%70%30%/30%30%70%70%;
    -o-border-radius: 30%70%70%30%/30%30%70%70%;
    -webkit-border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
  }
}
/*!=============== HEADAER SECTION ===============*/
body {
  background-color: #f7f7f7;
}

header {
  background-color: #f8f6f6;
  padding: 0rem 3rem;
  margin-bottom: 20px;
  color: var(--white);
  font-size: 2.5rem;
}

.peddingRight {
  padding-right: 2rem !important;
}

header > a > img {
  height: 5rem;
}

.logo {
  font-size: 2rem;
}

.header :is(.logInBtns, .logOutBtns) > a {
  background-color: var(--btn-bg);
  color: var(--mainColor3);
  border: 1px solid transparent;
}
.header > :is(.logInBtns, .logOutBtns) > a:hover {
  background-color: var(--mainColor3);
  color: var(--btn-bg);
  border: 1px solid var(--btn-bg);
}

:is(.logInBtns, .logOutBtns) > a {
  font-size: 2rem;
  padding: 10px 20px;
  border: 1px solid var(--mainColor1);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.header > .logOutBtns > a {
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
}
.header > .logInBtns {
  margin-block: 1rem;
  gap: 1rem;
}
.header .logOutBtns > a {
  background-color: var(--mainColor3);
  color: var(--btn-bg);
}
.header .logOutBtns > a:hover {
  background-color: var(--btn-bg);
  color: var(--mainColor3);
  border: 1px solid transparent;
}
.header .logOutBtns > a:nth-child(2):hover {
  background-color: #d33;
  color: white;
}

/*!=============== FORMS SECTION ===============*/
.logInMainContainer {
  background: linear-gradient(to bottom, rgb(187, 186, 186), #313131);
}

:is(.logInBtns, .logOutBtns) > a,
.formLogInBtn,
.formSignUpBtn {
  background-color: var(--mainColor3);
  color: white;
  transition: all 0.1s linear;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  font-weight: 500;
}
:is(.logInBtns, .logOutBtns) > a:hover,
.formLogInBtn:hover,
.formSignUpBtn:hover {
  background-color: var(--hover);
}

/*!=============== MAINCONTAINER SECTION STARTS ===============*/

.logInContainer {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.logInContainer {
  width: 500px;
  margin: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 50px 20px;
  background-color: #fffefe;
}

.logInContainer {
  gap: 2rem;
}

.logInContainer > .heading {
  padding-bottom: 1rem;
}

:is(.logInContainer, .signUpContainer) input {
  width: 100%;
  padding: 10px 10px;
  font-size: 1.6rems;
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
:is(.logInContainer, .signUpContainer) input:focus {
  border: 1px solid rgba(0, 0, 0, 0.3);
}
:is(.logInContainer, .signUpContainer) input,
.formSignUpBtn,
.formLogInBtn {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.formSignUpBtn,
.formLogInBtn {
  width: 100%;
  padding: 10px;
  font-size: 1.8rem;
  font-weight: bold;
}
/*!=============== SIMILAR STYLING IN SIDEBAR & HERO CONTAINERS ===============*/
.sideBar-header,
.hero-header {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-size: 1.8rem;
  padding: 2rem 2rem;
  gap: 1rem;
}

.sideBar-header > i,
.hero-header > .angle {
  top: 50%;
  height: 100%;
  width: 65px;
  background-color: var(--hover);
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.hero-container {
  padding-left: 55px;
}

:is(.sideBar-header, .hero-header) > a,
.copyWrite {
  font-family: "poppins", sans-serif;
  white-space: nowrap;
}

/*!=============== SIDEBAR STYLING ===============*/
.sideBar-container,
.studentDetails,
.modalContentBody {
  overflow: hidden;
}

.sideBar-container {
  background-color: var(--mainColor3);
  width: 55px;
  font-size: 1.7rem;
  z-index: 1;
}

.show > .sideBar-container {
  width: 350px;
}

.sideBar-header > img {
  width: 2.5rem;
  height: 2.5rem;
}

.sideBar-header > i {
  right: 0%;
}
.toggleBtns {
  right: 5%;
  top: 4%;
  font-size: 3rem;
}

.sideBar-nav {
  margin: 3rem 0;
}

.sideBar-nav > li {
  gap: 2.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  padding: 1.5rem 0 1.5rem 2rem;
}

.sideBar-nav > li:hover {
  background-color: var(--hover);
}

.sideBar-nav > li:last-child:hover {
  background-color: var(--red-hover);
}

.sideBar-nav > li > i {
  font-size: 1.8rem;
}

.sideBar-container > :is(h4, p) {
  padding-left: 2rem;
}

/*!=============== DASHBOARD STYLING ===============*/
.hero-container {
  flex: 1 1 75%;
}

.hero-header > .angle {
  left: 0;
}

.dashBoard-content > .dashBoard-cards {
  margin-top: 3rem;
  gap: 1rem;
}
.dashBoard-item,
.studentDetailsWrapper,
.value,
.studentDetails-mainHeading > .searchAndEditPanel > :is(i, .detailsSearchBar),
.modalContent,
.modalHeading,
.modalContainer > i {
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
.dashBoard-item {
  flex: 1 1 23%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: white;
  background-color: var(--mainColor3);
}
.dashBoard-item,
.modalContent {
  padding: 1rem 2rem;
}

.dashBoard-item > .itemHeader {
  gap: 1rem;
}

.dashBoard-item > .itemHeader > i {
  font-size: 1.5rem;
}
.dashBoard-item > .itemHeader > .dashBoard-item-heading {
  font-size: 1.7rem;
}
.dashBoard-item > .count {
  font-size: 3rem;
}

.dashBoard-item:hover {
  background-color: var(--hover);
}

/*!=============== STUDENTS DATA SECTION ===============*/

.studentDetailsWrapper {
  background-color: white;
  padding: 3rem;
  margin-top: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  gap: 2rem;
}

.studentDetailsProfile {
  flex: 1 1 19%;
  height: 100%;
}

.studentDetailsName {
  font-size: 2rem;
  font-weight: 900;
}

/*?=== MAIN HEADING ===*/
.studentDetails-mainHeading,
.studentDetails {
  width: 90%;
}

/*?=== SEARCH BAR ===*/
.studentDetails-mainHeading > .searchAndEditPanel {
  gap: 2rem;
}
.studentDetails-mainHeading > .searchAndEditPanel > :is(i, .detailsSearchBar) {
  background-color: var(--mainColor3);
  padding: 1rem;
}

.studentDetails-mainHeading > .searchAndEditPanel > .detailsSearchBar {
  width: 300px;
}

.studentDetails-mainHeading
  > .searchAndEditPanel
  > .detailsSearchBar::placeholder {
  color: rgb(235, 230, 230);
}
/*?=== SARI DETAILS KA PARENT DIV ===*/
.studentDetails {
  height: 400px;
  flex: 1 1 70%;
}

/*!=============== CATEGORY HEADING SECTION ===============*/

/*?=== SARI NAVIGATION HEADINGS KA PARENT DIV ===*/
.categoryHeadingsContainer {
  gap: 0.5rem;
}

/*?=== SARI NAVIGATION WALI HEDINGS ===*/
.categoryHeading {
  flex: 1 1 33%;
  gap: 2rem;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  padding: 1rem;
  font-size: 1.5rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

/*?=== MOAL CATEGORY  HEADING ===*/
.modalContent > .categoryHeadingsContainer > .categoryHeading {
  font-size: 1.5rem;
}

.categoryHeading:hover,
.active {
  background-color: var(--mainColor3);
  color: white;
}

.categoryHeading > i {
  font-size: 3rem;
}

/*?=== DETAILS KA PARENT DIV ===*/
.categoryDetailsContainer {
  left: 0%;
  top: 25%;
}

.categoryDetails,
.modalToChange {
  min-width: 100%;
}

.row {
  gap: 1rem;
}

.row .col {
  padding: 0.5rem 0;
}

.label {
  font-size: 1.5rem;
  color: #716f6f;
  margin-bottom: 0.5rem;
  padding: 0.5rem 1rem;
}

.value {
  font-size: 2rem;
  width: 70%;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid var(--mainColor2);
}
/*!=============== END ===============*/
.studentDetails-item {
  flex: 1 1 10%;
  font-size: 1.8rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.studentDetails-heading {
  background-color: var(--mainColor3);
  font-size: 2rem;
  padding: 1rem 0;
}
.studentDetails-item > span {
  padding: 1rem 0rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.serialNumber {
  flex: 1 1 10%;
}
.rollNumber {
  flex: 1 1 20%;
}

.batches,
.timeTable,
.feesStatus {
  flex: 1 1 13%;
}

.elimBtns {
  flex: 1 1 17%;
}

.studentsName,
.fatherName,
.courses {
  flex: 1 1 35%;
}

/*!=============== MODAL STYLING ===============*/

.modalContainer {
  background-color: rgb(231, 230, 233);
  border: none;
  top: 0;
  left: 0;
}

.modalContent {
  height: fit-content;
  width: 50%;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.modalContentBody {
  height: 390px;
}

.modalContentCover {
  left: 0;
  bottom: 0;
}

.modalContent
  > .modalContentBody
  :is(input, textarea, select, .dialoge, .addTodos) {
  width: 100%;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.modalHeading {
  font-size: 3rem;
  color: #fff;
  padding: 1rem 0%;
  font-weight: 500;
  background-color: var(--mainColor1);
}

.modalContent > .modalContentBody :is(input, textarea, select) {
  width: 100%;
  font-size: 1.8rem;
  padding: 1rem;
  resize: none;
  color: #000;
  box-shadow: none;
  border: none;
  outline: none;
}
.modalContent > .modalContentBody :is(input, textarea, select),
.addTodos {
  border: 1px solid rgba(103, 86, 133, 0.25);
}

.modalContent > .modalContentBody :is(input, textarea, select):focus {
  border: 1.5px solid rgb(68, 46, 107);
}

label,
.addTodos {
  display: block;
  font-size: 2rem;
  font-weight: 500;
  margin: 1.5rem 0 0.5rem;
}

.addTodos {
  background-color: var(--mainColor1);
  color: #fff;
  padding: 1rem 0;
}

.modalContainer > i {
  font-size: 3rem;
  right: 2%;
  top: 5%;
  width: 4.5rem;
  height: 4.5rem;
  color: white;
  background-color: var(--red-hover);
  z-index: 2;
}

/*!=============== SWEAT ALERT STYLING ===============*/

.sweatPopup {
  width: 450px;
}
.sweatTitle {
  font-size: 2.5rem !important;
}
.sweatPara {
  font-size: 1.5rem !important;
}
.sweatBtn {
  font-size: 1.4rem !important;
}
